# Файлы, игнорируемые по умолчанию
/shelf/
/workspace.xml
# Игнорируемые файлы Rider
/projectSettingsUpdater.xml
/.idea.Org.OpenAPITools.iml
/contentModel.xml
/modules.xml
# Запросы HTTP-клиента в редакторе
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
