openapi: 3.0.1
info:
  description: |
    Работа с товарами включает в себя:
      1. [Создание](/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov) и [редактирование](/openapi/work-with-products#tag/Kartochki-tovarov) карточек товаров: в том числе, получение [категорий, предметов и характеристик товаров](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki) и загрузку [медиафайлов](/openapi/work-with-products#tag/Mediafajly).
      2. Настройку [ярлыков](/openapi/work-with-products#tag/Yarlyki) для удобного поиска товаров.
      3. Установку [цен и скидок](/openapi/work-with-products#tag/Ceny-i-skidki).
      4. Управление [остатками товаров](/openapi/work-with-products#tag/Ostatki-na-skladah-prodavca) и [складами](/openapi/work-with-products#tag/Sklady-prodavca), если вы работаете по модели продаж со склада продавца.
  title: Работа с товарами
  version: products
  x-file-name: products
servers:
- url: /
security:
- HeaderApiKey: []
tags:
- description: ""
  name: "Категории, предметы и характеристики"
- description: ""
  name: Создание карточек товаров
- description: ""
  name: Карточки товаров
- description: ""
  name: Медиафайлы
- description: ""
  name: Ярлыки
- description: ""
  name: Цены и скидки
- description: ""
  name: Склады продавца
- description: ""
  name: Остатки на складах продавца
paths:
  /content/v2/object/parent/all:
    get:
      description: "Метод предоставляет названия и ID всех родительских категорий\
        \ для [создания карточек товаров](/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov):\
        \ например, `Электроника`, `Бытовая химия`, `Рукоделие`. \n\n<div class=\"\
        description_limit\">\n  Максимум 100 запросов в минуту для всех методов ка\
        тегории <a href=\"/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token\"\
        >Контент</a> на один аккаунт продавца\n</div>\n"
      parameters:
      - description: "Язык поля ответа `name`:  \n  - `ru` — русский\n  - `en` — а\
          нглийский\n  - `zh` — китайский\n\nНе\_используется в\_песочнице\n"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Родительские категории товаров
      tags:
      - "Категории, предметы и характеристики"
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/object/all:
    get:
      description: |
        Метод предоставляет список названий [родительских категорий предметов](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1parent~1all/get) и их предметов с ID. Например, у категории `Игрушки` будут предметы `Калейдоскопы`, `Куклы`, `Мячики`.

        <div class="description_limit">
          Максимум 100 запросов в минуту для всех методов категории <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token">Контент</a> на один аккаунт продавца
        </div>
      parameters:
      - description: "Поиск по названию предмета (Носки), поиск работает по подстр\
          оке, искать можно на любом из поддерживаемых языков."
        explode: true
        in: query
        name: name
        required: false
        schema:
          example: Носки
          type: string
        style: form
      - description: "Количество предметов, максимум 1\_000"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 1000
          type: integer
        style: form
      - description: "Язык полей ответа:  \n  - `ru` — русский\n  - `en` — английс\
          кий\n  - `zh` — китайский\n\nНе\_используется в\_песочнице\n"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      - description: "Номер позиции, с которой необходимо получить ответ"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 5000
          type: integer
        style: form
      - description: ID родительской категории предмета
        explode: true
        in: query
        name: parentID
        required: false
        schema:
          example: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - subjectID: 2560
                  parentID: 479
                  subjectName: 3D очки
                  parentName: Электроника
                - subjectID: 1152
                  parentID: 858
                  subjectName: 3D-принтеры
                  parentName: Оргтехника
                error: false
                errorText: ""
                additionalErrors: null
              schema:
                $ref: '#/components/schemas/_content_v2_object_all_get_200_response'
          description: Успешно
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Список предметов
      tags:
      - "Категории, предметы и характеристики"
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/object/charcs/{subjectId}:
    get:
      description: "Метод предоставляет параметры характеристик предмета: названия\
        , типы данных, единицы измерения и так далее. В запросе необходимо указать\
        \ ID [предмета](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1all/get).\
        \ \n\n<div class=\"description_important\">\n  Для получения характеристик\
        \ <a href=\"/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1directory~1colors/get\"\
        >Цвет</a>, <a href=\"/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1directory~1kinds/get\"\
        >Пол</a>, <a href=\"/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1directory~1countries/get\"\
        >Страна производства</a>, <a href=\"/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1directory~1seasons/get\"\
        >Сезон</a>, <a href=\"/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1directory~1vat/get\"\
        >Ставка НДС</a> и <a href=\"/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1directory~1tnved/get\"\
        >ТНВЭД-код</a> используйте отдельные методы\n</div>\n\n<div class=\"description_limit\"\
        >\n  Максимум 100 запросов в минуту для всех методов категории <a href=\"\
        /openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token\">Контент</a> н\
        а один аккаунт продавца\n</div>\n"
      parameters:
      - description: ID предмета
        explode: false
        in: path
        name: subjectId
        required: true
        schema:
          example: 105
          type: integer
        style: simple
      - description: "Язык полей ответа `subjectName` и `name`:  \n  - `ru` — русс\
          кий\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_\
          песочнице\n"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_object_charcs__subjectId__get_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Характеристики предмета
      tags:
      - "Категории, предметы и характеристики"
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/directory/colors:
    get:
      description: "Метод предоставляет возможные значения [характеристики](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get)\
        \ предмета `Цвет`. \n\n<div class=\"description_limit\">\n  Максимум 100 з\
        апросов в минуту для всех методов категории <a href=\"/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token\"\
        >Контент</a> на один аккаунт продавца\n</div>\n"
      parameters:
      - description: "Язык полей ответа `subjectName` и `name`:  \n  - `ru` — русс\
          кий\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_\
          песочнице\n"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_directory_colors_get_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Цвет
      tags:
      - "Категории, предметы и характеристики"
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/directory/kinds:
    get:
      description: "Метод предоставляет возможные значения [характеристики](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get)\
        \ предмета `Пол`. \n\n<div class=\"description_limit\">\n  Максимум 100 за\
        просов в минуту для всех методов категории <a href=\"/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token\"\
        >Контент</a> на один аккаунт продавца\n</div>\n"
      parameters:
      - description: "Язык полей ответа `subjectName` и `name`:  \n  - `ru` — русс\
          кий\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_\
          песочнице\n"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_directory_kinds_get_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Пол
      tags:
      - "Категории, предметы и характеристики"
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/directory/countries:
    get:
      description: "Метод предоставляет возможные значения [характеристики](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get)\
        \ предмета `Страна производства`. \n\n<div class=\"description_limit\">\n\
        \  Максимум 100 запросов в минуту для всех методов категории <a href=\"/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token\"\
        >Контент</a> на один аккаунт продавца\n</div>\n"
      parameters:
      - description: "Язык полей ответа `subjectName` и `name`:  \n  - `ru` — русс\
          кий\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_\
          песочнице\n"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_directory_countries_get_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Страна производства
      tags:
      - "Категории, предметы и характеристики"
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/directory/seasons:
    get:
      description: "Метод предоставляет возможные значения [характеристики](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get)\
        \ предмета `Сезон`. \n\n<div class=\"description_limit\">\n  Максимум 100\
        \ запросов в минуту для всех методов категории <a href=\"/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token\"\
        >Контент</a> на один аккаунт продавца\n</div>\n"
      parameters:
      - description: "Язык полей ответа `subjectName` и `name`:  \n  - `ru` — русс\
          кий\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_\
          песочнице\n"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_directory_seasons_get_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Сезон
      tags:
      - "Категории, предметы и характеристики"
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/directory/vat:
    get:
      description: "Метод предоставляет возможные значения [характеристики](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get)\
        \ предмета `Ставка НДС`. \n\n<div class=\"description_limit\">\n  Максимум\
        \ 100 запросов в минуту для всех методов категории <a href=\"/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token\"\
        >Контент</a> на один аккаунт продавца\n</div>\n"
      parameters:
      - description: "Язык полей ответа `subjectName` и `name`:  \n  - `ru` — русс\
          кий\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_\
          песочнице\n"
        explode: true
        in: query
        name: locale
        required: true
        schema:
          example: ru
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - "0"
                - "10"
                - "20"
                - Без НДС
                - "13"
                error: false
                errorText: ""
                additionalErrors: null
              schema:
                $ref: '#/components/schemas/_content_v2_directory_vat_get_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Ставка НДС
      tags:
      - "Категории, предметы и характеристики"
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/directory/tnved:
    get:
      description: "Метод предоставляет список ТНВЭД-кодов по ID [предмета](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1all/get)\
        \ и фрагменту ТНВЭД-кода. \n\n<div class=\"description_limit\">\n  Максиму\
        м 100 запросов в минуту для всех методов категории <a href=\"/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token\"\
        >Контент</a> на один аккаунт продавца\n</div>\n"
      parameters:
      - description: ID предмета
        explode: true
        in: query
        name: subjectID
        required: true
        schema:
          example: 105
          type: integer
        style: form
      - description: Поиск по ТНВЭД-коду. Работает только в паре с `subjectID`
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: 6106903000
          type: integer
        style: form
      - description: "Язык полей ответа:  \n  - `ru` — русский\n  - `en` — английс\
          кий\n  - `zh` — китайский\n\nНе\_используется в\_песочнице\n"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - tnved: "6106903000"
                  isKiz: true
                error: false
                errorText: ""
                additionalErrors: null
              schema:
                $ref: '#/components/schemas/_content_v2_directory_tnved_get_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: ТНВЭД-код
      tags:
      - "Категории, предметы и характеристики"
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/tags:
    get:
      description: |
        Метод предоставляет список и характеристики всех ярлыков продавца для группировки и фильтрации товаров.

        <div class="description_limit">
          Максимум 100 запросов в минуту для всех методов категории <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token">Контент</a> на один аккаунт продавца
        </div>
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 1
                  color: D1CFD7
                  name: Sale
                error: false
                errorText: ""
                additionalErrors: ""
              schema:
                $ref: '#/components/schemas/_content_v2_tags_get_200_response'
          description: Успешно
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Список ярлыков
      tags:
      - Ярлыки
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/tag:
    post:
      description: |
        Метод добавляет один ярлык продавца. Можно создать максимум 15 ярлыков для одного продавца. Максимальная длина ярлыка — 15 символов.
        <br>Созданный ярлык можно получить в общем [списке](/openapi/work-with-products#tag/Yarlyki/paths/~1content~1v2~1tags/get).

        <div class="description_limit">
          Максимум 100 запросов в минуту для всех методов категории <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token">Контент</a> на один аккаунт продавца
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_content_v2_tag_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                responseOK200:
                  $ref: '#/components/examples/responseOK200'
              schema:
                $ref: '#/components/schemas/responseContentError6'
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBody400LenName:
                  $ref: '#/components/examples/responseBody400LenName'
                responseBodyLimitTag:
                  $ref: '#/components/examples/responseBodyLimitTag'
                responseBodyNameNotExist:
                  $ref: '#/components/examples/responseBodyNameNotExist'
              schema:
                $ref: '#/components/schemas/_content_v2_tag_post_400_response'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Создание ярлыка
      tags:
      - Ярлыки
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/tag/{id}:
    delete:
      description: |
        Метод удаляет ярлык из [списка ярлыков](/openapi/work-with-products#tag/Yarlyki/paths/~1content~1v2~1tags/get) продавца.

        <div class="description_limit">
          Максимум 100 запросов в минуту для всех методов категории <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token">Контент</a> на один аккаунт продавца
        </div>
      parameters:
      - description: Числовой ID ярлыка
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                responseOK200:
                  $ref: '#/components/examples/responseOK200'
                responseNotFound200Del:
                  $ref: '#/components/examples/responseNotFound200Del'
              schema:
                $ref: '#/components/schemas/_content_v2_tag__id__delete_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBodyTagNotExist:
                  $ref: '#/components/examples/responseBodyTagNotExist'
              schema:
                $ref: '#/components/schemas/_content_v2_tag__id__delete_400_response'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Удаление ярлыка
      tags:
      - Ярлыки
    patch:
      description: |
        Метод заменяет данные ярлыка: имя и цвет.
        <br>Новые данные можно получить в общем [списке](/openapi/work-with-products#tag/Yarlyki/paths/~1content~1v2~1tags/get).

        <div class="description_limit">
          Максимум 100 запросов в минуту для всех методов категории <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token">Контент</a> на один аккаунт продавца
        </div>
      parameters:
      - description: Числовой ID ярлыка
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_content_v2_tag__id__patch_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                responseOK200:
                  $ref: '#/components/examples/responseOK200'
                responseNotFound200:
                  $ref: '#/components/examples/responseNotFound200'
              schema:
                $ref: '#/components/schemas/_content_v2_tag__id__patch_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBody400LenName:
                  $ref: '#/components/examples/responseBody400LenName'
              schema:
                $ref: '#/components/schemas/_content_v2_tag__id__patch_400_response'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Изменение ярлыка
      tags:
      - Ярлыки
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/tag/nomenclature/link:
    post:
      description: |
        Метод добавляет или снимает ярлык с карточки товара. К карточке можно добавить максимум 15 ярлыков.<br>
        При удалении ярлыка из карточки товара он не удаляется из [списка ярлыков](/openapi/work-with-products#tag/Yarlyki/paths/~1content~1v2~1tags/get) продавца.

        <div class="description_limit">
          Максимум 100 запросов в минуту для всех методов категории <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token">Контент</a> на один аккаунт продавца
        </div>
      requestBody:
        content:
          application/json:
            example:
              nmID: 179891389
              tagsIDs:
              - 123456
            schema:
              $ref: '#/components/schemas/_content_v2_tag_nomenclature_link_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                responseOK200:
                  $ref: '#/components/examples/responseOK200'
              schema:
                $ref: '#/components/schemas/responseContentError6'
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectRequest4:
                  $ref: '#/components/examples/IncorrectRequest4'
              schema:
                $ref: '#/components/schemas/responseContentError4'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Управление ярлыками в карточке товара
      tags:
      - Ярлыки
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/get/cards/list:
    post:
      description: "<div class=\"description_auth\">  \n  Метод доступен по <a href=\"\
        /openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token\">токену</a> с\
        \ категорией <strong>Контент</strong> или <strong>Продвижение</strong>\n</div>\n\
        \nМетод предоставляет список созданных карточек товаров.\n\n<div class=\"\
        description_important\">\n  В ответе метода не будет карточек, находящихся\
        \ в корзине. Получить такие карточки можно через <a href=\"/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1trash/post\"\
        >отдельный метод</a>.\n</div>    \n\nЧтобы получить **больше 100** карточе\
        к товаров, воспользуйтесь пагинацией:\n\n  <ol>\n    <li>Сделайте первый з\
        апрос: <br>\n      <pre style=\"background-color: rgb(38 50 56 / 5%); color:\
        \ #e53935\">\n        {\n          \"settings\": {                      \n\
        \            \"cursor\": {\n              \"limit\": 100\n            },\n\
        \            \"filter\": {\n              \"withPhoto\": -1\n            }\n\
        \          }\n        }</pre>                               \n    </li>\n\
        \    <li>Пройдите в конец полученного списка карточек товаров.</li>\n    <li>С\
        копируйте из <code>cursor</code> две строки:\n      <ul>\n        <li><code>\"\
        updatedAt\": \"***\"</code></li>\n        <li><code>\"nmID\": ***</code></li>\n\
        \      </ul></li>\n    <li>Вставьте скопированные строки в параметр запрос\
        а <code>cursor</code>.</li>\n    <li>Повторите запрос. </li>\n    <li>Повт\
        оряйте пункты со <b>2</b> по <b>5</b>, пока поле <code>total</code> в отве\
        те не станет меньше чем параметр <code>limit</code> в запросе. Это будет о\
        значать, что вы получили все карточки.\n  </ol>\n\n<div class=\"description_limit\"\
        >\n  Максимум 100 запросов в минуту для всех методов категории <a href=\"\
        /openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token\">Контент</a> н\
        а один аккаунт продавца\n</div>\n"
      parameters:
      - description: "Язык полей ответа `name`, `value` и `object`:  \n  - `ru` —\
          \ русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_использует\
          ся в\_песочнице.  \n"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: ru
          type: string
        style: form
      requestBody:
        content:
          application/json:
            example:
              settings:
                sort:
                  ascending: false
                filter:
                  textSearch: ""
                  allowedCategoriesOnly: true
                  tagIDs: []
                  objectIDs: []
                  brands: []
                  imtID: 0
                  withPhoto: -1
                cursor:
                  updatedAt: 2023-12-06T11:17:00.96577Z
                  nmID: 0
                  limit: 11
            schema:
              $ref: '#/components/schemas/_content_v2_get_cards_list_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                cards:
                - nmID: 12345678
                  imtID: 123654789
                  nmUUID: 01bda0b1-5c0b-736c-b2be-d0a6543e9be
                  subjectID: 7771
                  subjectName: AKF системы
                  vendorCode: wb7f6mumjr1
                  brand: ""
                  title: ""
                  photos:
                  - big: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/big/1.webp
                    c246x328: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c246x328/1.webp
                    c516x688: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c516x688/1.webp
                    square: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/square/1.webp
                    tm: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/tm/1.webp
                  video: https://videonme-basket-12.wbbasket.ru/vol137/part22557/225577433/hls/1440p/index.m3u8
                  dimensions:
                    length: 0
                    width: 0
                    height: 0
                    isValid: false
                  characteristics:
                  - id: 14177449
                    name: Цвет
                    value:
                    - красно-сиреневый
                  sizes:
                  - chrtID: 316399238
                    techSize: "0"
                    skus:
                    - "987456321654"
                  tags:
                  - id: 592569
                    name: Популярный
                    color: D1CFD7
                  createdAt: 2023-12-06T11:17:00.96577Z
                  updatedAt: 2023-12-06T11:17:00.96577Z
                cursor:
                  updatedAt: 2023-12-06T11:17:00.96577Z
                  nmID: 123654123
                  total: 1
              schema:
                $ref: '#/components/schemas/_content_v2_get_cards_list_post_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
            plain/text:
              example: Request body can not be decoded
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Список карточек товаров
      tags:
      - Карточки товаров
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/cards/error/list:
    get:
      description: |
        Метод предоставляет список карточек товаров, при создании или редактировании которых произошли ошибки, с описанием этих ошибок.

        <div class="description_important">
          Чтобы убрать карточку товара из списка, нужно повторно сделать запрос на <a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создание</a> или редактирование карточки товара с исправленными ошибками.
        </div>

        <div class="description_limit">
          Максимум 100 запросов в минуту для всех методов категории <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token">Контент</a> на один аккаунт продавца
        </div>
      parameters:
      - description: |
          Параметр выбора языка значений полей ответа (для которых предусмотрена мультиязычность).

          Не используется в песочнице.
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_cards_error_list_get_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Список несозданных карточек товаров с ошибками
      tags:
      - Карточки товаров
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/cards/update:
    post:
      description: |
        Метод обновляет карточки товаров. Данные для обновления можно получить через [список карточек товаров](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1list/post) и [список карточек товаров в корзине](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1trash/post).

        <div class="description_important">
          Карточка товара перезаписывается при обновлении. Поэтому в запросе нужно передать <strong>все</strong> параметры карточки, в том числе те, которые вы не собираетесь обновлять.
        </div>

        Нельзя редактировать или удалять баркоды, но можно добавить дополнительный баркод к карточке товара. Параметры `photos`, `video` и `tags` редактировать или удалять через данный метод нельзя.<br>
        Габариты товаров можно указать только в **сантиметрах**.
        <br><br>
        В одном запросе можно отредактировать максимум 3000 карточек товаров (`nmID`). Максимальный размер запроса 10 Мб.<br>
        Если ответ `Успешно` (`200`), но какие-то карточки не обновились, получите [список несозданных карточек товаров](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/get).

        <div class="description_limit">
          Максимум 100 запросов в минуту для всех методов категории <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token">Контент</a> на один аккаунт продавца
        </div>
      requestBody:
        content:
          application/json:
            schema:
              example:
              - nmID: 11111111
                vendorCode: wbiz72wmro
                brand: ""
                title: Свитер женский оверсайз с горлом
                description: "12345"
                dimensions:
                  length: 0
                  width: 0
                  height: 0
                characteristics:
                - id: 14177450
                  value:
                  - хлопок 50% акрил 50%
                - id: 50
                  value:
                  - свободный крой
                sizes:
                - chrtID: 12345678
                  techSize: ONE SIZE
                  wbSize: 78-90
                  skus:
                  - "123487653460134"
              items:
                $ref: '#/components/schemas/_content_v2_cards_update_post_request_inner'
              type: array
      responses:
        "200":
          content:
            application/json:
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
              schema:
                $ref: '#/components/schemas/responseCardCreate'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "413":
          content:
            application/json:
              example:
                title: request body too long
                detail: https://openapi.wildberries.ru/content/api/ru/
                code: 71d3de1b-001e-488f-bbf5-55c31254fbeb
                requestId: MN8usr6RfrzWHZfucSvNgb
                origin: s2s-api-auth-content
                status: 413
                statusText: Request Entity Too Large
              schema:
                $ref: '#/components/schemas/_content_v2_cards_update_post_413_response'
          description: Превышен лимит объёма данных в запросе
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      summary: Редактирование карточек товаров
      tags:
      - Карточки товаров
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/cards/moveNm:
    post:
      description: |
        Метод объединяет и разъединяет карточки товаров. Карточки товаров считаются объединёнными, если у них одинаковый <code>imtID</code>.
        <br><br>
        Для объединения карточек товаров сделайте запрос **с указанием** `imtID`. Можно объединять не более 30 карточек товаров.<br>
        Для разъединения карточек товаров сделайте запрос **без указания** `imtID`. Для разъединенных карточек будут сгенерированы новые `imtID`.
        <br><br>
        Если вы разъедините одновременно несколько карточек товаров, эти карточки объединятся в одну и получат новый `imtID`.<br>
        Чтобы присвоить каждой карточке товара уникальный `imtID`, необходимо передавать по одной карточке товара за запрос.<br>
        <br>
        Максимальный размер запроса 10 Мб.

        <div class="description_important">
          Объединить можно только карточки товаров с одинаковыми предметами.
        </div>

        <div class="description_limit">
          Максимум 100 запросов в минуту для всех методов категории <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token">Контент</a> на один аккаунт продавца
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_content_v2_cards_moveNm_post_request'
      responses:
        "200":
          content:
            application/json:
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
              schema:
                $ref: '#/components/schemas/responseCardCreate'
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                responseExceededLimit:
                  $ref: '#/components/examples/responseExceededLimit'
                responseCombining:
                  $ref: '#/components/examples/responseCombining'
                responseIncorrectRequestFormat:
                  $ref: '#/components/examples/responseIncorrectRequestFormat'
                responseNonExistentNmId:
                  $ref: '#/components/examples/responseNonExistentNmId'
                responseNonExistentImt:
                  $ref: '#/components/examples/responseNonExistentImt'
                responseCardCreate1:
                  $ref: '#/components/examples/responseCardCreate1'
                responseDuplicateRequests:
                  $ref: '#/components/examples/responseDuplicateRequests'
                responseAllCardsInSameGroup:
                  $ref: '#/components/examples/responseAllCardsInSameGroup'
                responseIncorrectBeginDate:
                  $ref: '#/components/examples/responseIncorrectBeginDate'
                responseIncorrectEndDate:
                  $ref: '#/components/examples/responseIncorrectEndDate'
              schema:
                $ref: '#/components/schemas/_content_v2_cards_moveNm_post_400_response'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseCardCreate'
          description: Доступ запрещён
        "413":
          content:
            application/json:
              examples:
                BodySizeExceedsTheGivenLimit:
                  $ref: '#/components/examples/BodySizeExceedsTheGivenLimit'
              schema:
                type: string
          description: Превышен лимит объёма данных в запросе
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      summary: Объединение и разъединение карточек товаров
      tags:
      - Карточки товаров
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/cards/delete/trash:
    post:
      description: |
        Метод переносит [карточки товаров в корзину](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1trash/post). При этом карточки товаров не удаляются, их можно [восстановить](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post).

        <div class="description_important">
          После переноса в корзину карточке товара присваивается новый <code>imtID</code>.
        </div>

        Карточки товаров удаляются автоматически, если лежат в корзине больше 30 дней. Очистка корзины происходит каждую ночь по московскому времени.<br>
        Карточки товаров можно удалить в любое время в [личном кабинете](https://seller.wildberries.ru/new-goods/basket-cards).

        <div class="description_limit">
          Максимум 100 запросов в минуту для всех методов категории <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token">Контент</a> на один аккаунт продавца
        </div>
      requestBody:
        content:
          application/json:
            example:
              nmIDs:
              - 123456789
              - 987654321
            schema:
              $ref: '#/components/schemas/_content_v2_cards_delete_trash_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
              schema:
                $ref: '#/components/schemas/_content_v2_cards_delete_trash_post_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Перенос карточек товаров в корзину
      tags:
      - Карточки товаров
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/cards/recover:
    post:
      description: |
        Метод восстанавливает [карточки товаров из корзины](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1trash/post).

        <div class="description_important">
          Карточка товара сохраняет тот же <code>imtID</code>, что был присвоен ей при <a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">перемещении в корзину</a>.
        </div>

        <div class="description_limit">
          Максимум 100 запросов в минуту для всех методов категории <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token">Контент</a> на один аккаунт продавца
        </div>
      requestBody:
        content:
          application/json:
            example:
              nmIDs:
              - 123456789
              - 987654321
            schema:
              $ref: '#/components/schemas/_content_v2_cards_delete_trash_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
              schema:
                $ref: '#/components/schemas/_content_v2_cards_delete_trash_post_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Восстановление карточек товаров из корзины
      tags:
      - Карточки товаров
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/get/cards/trash:
    post:
      description: "<div class=\"description_auth\">  \n  Метод доступен по <a href=\"\
        /openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token\">токену</a> с\
        \ категорией <strong>Контент</strong> или <strong>Продвижение</strong>\n</div>\n\
        \nМетод предоставляет список карточек товаров в корзине.<br><br>\n\nЧтобы\
        \ получить **больше 100** карточек товаров, воспользуйтесь пагинацией:\n\n\
        \  <ol>\n    <li>Сделайте первый запрос: <br>\n      <pre style=\"background-color:\
        \ rgb(38 50 56 / 5%); color: #e53935\">\n        {\n          \"settings\"\
        : {                      \n            \"cursor\": {\n              \"limit\"\
        : 100\n            },\n            \"filter\": {\n              \"withPhoto\"\
        : -1\n            }\n          }\n        }</pre>                        \
        \       \n    </li>\n    <li>Пройдите в конец полученного списка карточек\
        \ товаров.</li>\n    <li>Скопируйте из <code>cursor</code> две строки:\n \
        \     <ul>\n        <li><code>\"updatedAt\": \"***\"</code></li>\n       \
        \ <li><code>\"nmID\": ***</code></li>\n      </ul></li>\n    <li>Вставьте\
        \ скопированные строки в параметр запроса <code>cursor</code>.</li>\n    <li>П\
        овторите запрос. </li>\n    <li>Повторяйте пункты со <b>2</b> по <b>5</b>,\
        \ пока поле <code>total</code> в ответе не станет меньше чем параметр <code>limit</code>\
        \ в запросе. Это будет означать, что вы получили все карточки.\n  </ol>\n\n\
        \  <div class=\"description_limit\">\n    Максимум 100 запросов в минуту д\
        ля всех методов категории <a href=\"/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token\"\
        >Контент</a> на один аккаунт продавца\n  </div>\n"
      parameters:
      - description: |
          Язык полей ответа `name`, `value` и `object`: `ru`, `en`, `zh`.

          Не используется в песочнице
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - ru
          - en
          - zh
          type: string
        style: form
      requestBody:
        content:
          application/json:
            example:
              settings:
                sort:
                  ascending: false
                filter:
                  textSearch: ""
                cursor:
                  limit: 11
            schema:
              $ref: '#/components/schemas/_content_v2_get_cards_trash_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                cards:
                - nmID: 1234567
                  vendorCode: wb5xsy5ftj
                  subjectID: 1436
                  subjectName: Ведра хозяйственные
                  photos:
                  - big: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/big/1.webp
                    c246x328: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c246x328/1.webp
                    c516x688: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c516x688/1.webp
                    square: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/square/1.webp
                    tm: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/tm/1.webp
                  video: https://videonme-basket-12.wbbasket.ru/vol137/part22557/225577433/hls/1440p/index.m3u8
                  sizes:
                  - chrtID: 111111111
                    techSize: "0"
                    skus:
                    - xxxxxxxxxxxx
                  dimensions:
                    length: 0
                    width: 0
                    height: 0
                    isValid: false
                  createdAt: 2023-12-05T14:55:09.323462Z
                  trashedAt: 2023-12-06T10:57:42.193028Z
                cursor:
                  trashedAt: 2023-12-06T10:57:42.193028Z
                  nmID: 194128521
                  total: 1
              schema:
                $ref: '#/components/schemas/_content_v2_get_cards_trash_post_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
            plain/text:
              example: Request body can not be decoded
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Список карточек товаров в корзине
      tags:
      - Карточки товаров
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/cards/limits:
    get:
      description: "Возвращает бесплатные и платные лимиты продавца на [создание к\
        арточек товаров](/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post).<br><br>\n\
        \nФормула для получения количества карточек, которые можно создать:\n  \n\
        > (`freeLimits` + `paidLimits`) - количество созданных карточек\n\nСозданн\
        ыми считаются карточки, которые можно получить через методы [список карточ\
        ек товаров](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1list/post)\
        \ и [список карточек товаров в корзине](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1trash/post).\n\
        \n<div class=\"description_limit\">\n  Максимум 100 запросов в минуту для\
        \ всех методов категории <a href=\"/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token\"\
        >Контент</a> на один аккаунт продавца\n</div>\n"
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  freeLimits: 1500
                  paidLimits: 10
                error: false
                errorText: ""
                additionalErrors: null
              schema:
                $ref: '#/components/schemas/_content_v2_cards_limits_get_200_response'
          description: Успешно
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Лимиты карточек товаров
      tags:
      - Создание карточек товаров
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/barcodes:
    post:
      description: |
        Метод генерирует массив уникальных баркодов для создания размера в [карточке товара](/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post). Можно использовать, если у вас нет собственных баркодов.

        <div class="description_limit">
          Максимум 100 запросов в минуту для всех методов категории <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token">Контент</a> на один аккаунт продавца
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_content_v2_barcodes_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_barcodes_post_200_response'
          description: Успешно
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Генерация баркодов
      tags:
      - Создание карточек товаров
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/cards/upload:
    post:
      description: |
        Метод создаёт карточки товаров c указанием описаний и характеристик товаров.<br>

        <div class="description_important">
          Есть две формы запроса: для создания отдельных и объединённых карточек товаров.
        </div>

        Габариты товаров можно указать только в **сантиметрах**.
        <br><br>
        Создание карточки товара происходит асинхронно. После отправки запрос становится в очередь на обработку.<br>
        В одном запросе можно создать максимум 100 объединённых карточек товаров (`imtID`), по 30 карточек товаров в каждой. Максимальный размер запроса 10 Мб.<br>
        Если ответ `Успешно` (`200`), но какие-то карточки не обновились, получите [список несозданных карточек товаров](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/get).

        <div class="description_limit">
          Максимум 100 запросов в минуту для всех методов категории <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token">Контент</a> на один аккаунт продавца
        </div>
      requestBody:
        content:
          application/json:
            examples:
              creatingOneCard:
                $ref: '#/components/examples/creatingOneCard'
              creatingMergedCards:
                $ref: '#/components/examples/creatingMergedCards'
              creatingGroupOfIndividualCards:
                $ref: '#/components/examples/creatingGroupOfIndividualCards'
            schema:
              items:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_request_inner'
              type: array
      responses:
        "200":
          content:
            application/json:
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
              schema:
                $ref: '#/components/schemas/responseCardCreate'
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                InvalidRequestFormatContent:
                  $ref: '#/components/examples/InvalidRequestFormatContent'
                CardCreatedWithoutVendorCode:
                  $ref: '#/components/examples/CardCreatedWithoutVendorCode'
                CardsVendorCodeUsedInOtherCards:
                  $ref: '#/components/examples/CardsVendorCodeUsedInOtherCards'
                ThisCategoryDoesNotExist:
                  $ref: '#/components/examples/ThisCategoryDoesNotExist'
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "413":
          content:
            application/json:
              example:
                title: request body too long
                detail: https://openapi.wildberries.ru/content/api/ru/
                code: 71d3de1b-001e-488f-bbf5-55c31254fbeb
                requestId: MN8usr6RfrzWHZfucSvNgb
                origin: s2s-api-auth-content
                status: 413
                statusText: Request Entity Too Large
              schema:
                $ref: '#/components/schemas/_content_v2_cards_update_post_413_response'
          description: Превышен лимит объёма данных в запросе
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      summary: Создание карточек товаров
      tags:
      - Создание карточек товаров
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/cards/upload/add:
    post:
      description: |
        Метод создаёт новые карточки товаров, объединяя их с существующими карточками.

        Габариты товаров можно указать только в **сантиметрах**.
        <br><br>
        Создание карточки товара происходит асинхронно. После отправки запрос становится в очередь на обработку.<br>Максимальный размер запроса 10 Мб.<br>
        Если ответ `Успешно` (`200`), но какие-то карточки не обновились, получите [список несозданных карточек товаров](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/get).

        <div class="description_limit">
          Максимум 100 запросов в минуту для всех методов категории <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token">Контент</a> на один аккаунт продавца
        </div>
      requestBody:
        content:
          application/json:
            example:
              imtID: 987654321
              cardsToAdd:
              - vendorCode: myVariant1
                title: Наименование товара
                description: Описание товара
                brand: Бренд
                dimensions:
                  length: 55
                  width: 40
                  height: 15
                characteristics:
                - id: 12
                  value:
                  - Russian flag
                - id: 25471
                  value: 1300
                - id: 14177449
                  value:
                  - blue
                sizes:
                - skus:
                  - "12345678"
              - vendorCode: myVariant2
                title: Наименование товара
                description: Описание товаров
                brand: Бренд
                dimensions:
                  length: 55
                  width: 40
                  height: 15
                characteristics:
                - id: 12
                  value:
                  - Russian flag
                - id: 25471
                  value: 1300
                - id: 14177449
                  value:
                  - blue
                sizes:
                - skus:
                  - "222222222222"
            schema:
              $ref: '#/components/schemas/_content_v2_cards_upload_add_post_request'
      responses:
        "200":
          content:
            application/json:
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
              schema:
                $ref: '#/components/schemas/responseCardCreate'
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                InvalidRequestFormatContent:
                  $ref: '#/components/examples/InvalidRequestFormatContent'
                CardCreatedWithoutVendorCode:
                  $ref: '#/components/examples/CardCreatedWithoutVendorCode'
                CardsVendorCodeUsedInOtherCards:
                  $ref: '#/components/examples/CardsVendorCodeUsedInOtherCards'
                ThisCategoryDoesNotExist:
                  $ref: '#/components/examples/ThisCategoryDoesNotExist'
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неправильный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Пользователь не авторизован
        "413":
          content:
            application/json:
              example:
                title: request body too long
                detail: https://openapi.wildberries.ru/content/api/ru/
                code: 71d3de1b-001e-488f-bbf5-55c31254fbeb
                requestId: MN8usr6RfrzWHZfucSvNgb
                origin: s2s-api-auth-content
                status: 413
                statusText: Request Entity Too Large
              schema:
                $ref: '#/components/schemas/_content_v2_cards_update_post_413_response'
          description: Превышен лимит объёма данных в запросе
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Слишком много запросов
      summary: Создание карточек товаров с объединением
      tags:
      - Создание карточек товаров
    servers:
    - url: https://content-api.wildberries.ru
  /content/v3/media/file:
    post:
      description: |
        Метод загружает и добавляет один медиафайл к карточке товара.

        Требования к изображениям:
          * максимум изображений для одной карточки товара — 30
          * минимальное разрешение — 700x900 px
          * максимальный размер — 32 Мб
[...]
